In [57]:
import numpy as np
import pandas as pd

# 고객 약속 배송성과
### 12시 기준

### 30에 가까울수록 좋은 것 (망목)

### 최솟값 : 0, 최댓값 : 60

- 11:30을 최솟값 0점으로 설정하고, 12:00을 30점, 12:30을 최댓값 60점으로 세팅

In [58]:
input_an = pd.read_csv('./data/만족도모델_입력데이터_기업명2.csv', encoding='cp949')

input_an

,기업명,도착시간1,도착점수1,도착시간2,도착점수2,도착시간3,도착점수3,도착시간4,도착점수4,도착시간5,도착점수5
0,배달업체 1,11:50,20,11:42,12,12:24,54,12:11,41,11:45,15
1,배달업체 2,12:01,31,12:03,33,11:54,24,12:08,38,11:57,27
2,배달업체 3,12:24,54,12:30,60,11:31,1,11:33,3,12:29,59
3,배달업체 4,11:47,17,11:52,22,12:01,31,11:58,28,12:11,41
4,배달업체 5,12:14,44,11:39,9,11:30,0,12:28,58,11:54,24

In [59]:
input_an = np.array(input_an)
input_an

array([['배달업체 1', '11:50', 20, '11:42', 12, '12:24', 54, '12:11', 41,
        '11:45', 15],
       ['배달업체 2', '12:01', 31, '12:03', 33, '11:54', 24, '12:08', 38,
        '11:57', 27],
       ['배달업체 3', '12:24', 54, '12:30', 60, '11:31', 1, '11:33', 3,
        '12:29', 59],
       ['배달업체 4', '11:47', 17, '11:52', 22, '12:01', 31, '11:58', 28,
        '12:11', 41],
       ['배달업체 5', '12:14', 44, '11:39', 9, '11:30', 0, '12:28', 58,
        '11:54', 24]], dtype=object)

In [60]:
# 삼각 퍼지수 구간

pts_list = []
a = 0; b = 7.5; c = 15

for i in range(9):
    # 1번째 & 2번째 삼각퍼지수
    if a == 0:
        # 1번째 삼각퍼지수
        if i == 0:
            b = 0; c = 7.5
            pts_list.append((a, b, c))
            
        # 2번째 삼각퍼지수    
        else:
            b += 7.5; c += 7.5
            pts_list.append((a, b, c))
            a += 7.5; b += 7.5; c += 7.5
            
        
    # 9번째 삼각퍼지수
    elif a == 52.5:
        b = 60; c = 60
        pts_list.append((a, b, c))
        
    # 3-8번째 삼각퍼지수
    else:
        pts_list.append((a, b, c))
        a += 7.5; b += 7.5; c += 7.5
        
pts_list

[(0, 0, 7.5),
 (0, 7.5, 15.0),
 (7.5, 15.0, 22.5),
 (15.0, 22.5, 30.0),
 (22.5, 30.0, 37.5),
 (30.0, 37.5, 45.0),
 (37.5, 45.0, 52.5),
 (45.0, 52.5, 60.0),
 (52.5, 60, 60)]

In [61]:
########이렇게 설정히는게 맞을까요?#########

def triangular_fuzzy(time):
    if 0 <= time and time < 7.5 - 3.75:
        index = 0
    elif 7.5 - 3.75 <= time and time < 7.5 + 3.75:
        index = 1
    elif 15 - 3.75 <= time and time < 15 + 3.75:
        index = 2
    elif 22.5 - 3.75 <= time and time < 22.5 + 3.75:
        index = 3
    elif 30 - 3.75 <= time and time < 30 + 3.75:
        index = 4
    elif 37.5 - 3.75 <= time and time < 37.5 + 3.75:
        index = 5
    elif 45 - 3.75 <= time and time < 45 + 3.75:
        index = 6
    elif 52.5 - 3.75 <= time and time < 52.5 + 3.75:
        index = 7
    elif 60 - 3.75 <= time and time <= 60 :
        index = 8
    
    return index

In [62]:
def subtract(intv1, intv2):
    a = intv1[0] - intv2[2]
    b = intv1[1] - intv2[1]
    c = intv1[2] - intv2[0]
    
    return np.array([a,b,c])

In [63]:
def get_score(y_i):
    y_i = np.array(y_i) # 연산을 하기 위해 np.array이용
    y_min = np.array([0,0,0])
    y_max = np.array([60,60,60])
    c_i = np.array([30,30,30])
    
    if (y_min[1] <= y_i[1] and y_i[1] <= c_i[1]):
        ########삼각퍼지수 나눗셈 지어냈는데 괜찮을까요?#########
        bunja = subtract(y_i, y_min)
        bunmo = subtract(c_i, y_min)
        cases = [bunja[0]/bunmo[0],bunja[0]/bunmo[2],bunja[2]/bunmo[0],bunja[2]/bunmo[2]]
        print(bunja)
        print(bunmo)
        print(cases)
        score = np.array([min(cases), bunja[1]/bunmo[1], max(cases)])
        
    elif c_i[1] < y_i[1] and y_i[1] <= y_max[1]:
        ########삼각퍼지수 나눗셈 지어냈는데 괜찮을까요?#########
        bunja = subtract(y_i, y_max)
        bunmo = subtract(c_i, y_max)
        cases = [bunja[0]/bunmo[0],bunja[0]/bunmo[2],bunja[2]/bunmo[0],bunja[2]/bunmo[2]]
        print(bunja)
        print(bunmo)
        print(cases)
        score = np.array([min(cases), bunja[1]/bunmo[1], max(cases)])
        
    else :
        score = np.array([0,0,0])
    
    return score

In [64]:
def get_avg_score(data): # 여기서 data는 한 기업의 5번의 배송 정보
    total_score = np.array([0,0,0])
    arrive_idx = [2,4,6,8,10]
    for i in range(len(data)):
        if i in arrive_idx:
            y_i = pts_list(triangular_fuzzy(int(data[i])))
            total_score += get_score(y_i)
            
    return total_score / 5

In [65]:
avg_scores = []

for i in range(len(input_an)):
    avg_scores.append([input_an[i][0],get_avg_score(input_an[i])]) # 기업 이름 & 평균 점수


avg_scores = pd.DataFrame(avg_scores,columns = ['기업명','평균퍼지점수'])
avg_scores

TypeError: 'list' object is not callable

In [7]:
avg_scores.sort_values('평균점수',ascending=False)

    기업명      평균점수
1  기업 B  0.800000
3  기업 D  0.714286
0  기업 A  0.514286
4  기업 E  0.371429
2  기업 C  0.085714